In [1]:
6*6

36

In [2]:
print(20)

20

In [3]:
print("welcome our mobile phone")

welcome our mobile phone

In [4]:
x = 5
print(x)

5

In [8]:
name = "Pranjul verma"
print(name)
print(x)

Pranjul verma
5

In [10]:
x= "puttan"
y="pranjul"
a= "verma"
b= "kumar"
print(x)
print(y)
print(a)
print(b)

puttan
pranjul
verma
kumar

In [11]:
Data types
x = 5
print(type(x))

<class 'int'>

In [13]:
y = "A"
print(type(y))

<class 'str'>

In [16]:
a = 23.3
print(type(a))

<class 'float'>

In [17]:
d = 2j
print(type(d))

<class 'complex'>

In [20]:
e = ["welcome ", "to my","youtube", "channle"]
print(type(e))
print(e)

<class 'list'>
['welcome ', 'to my', 'youtube', 'channle']

In [23]:
f =("welcome", "my class", "room")
print(f)
print(type(f))

('welcome', 'my class', 'room')
<class 'tuple'>

In [24]:
g = {"name", "pranjul", "verma"}
print(type(g))

<class 'set'>

In [25]:
h = range(10)
print(h)

range(0, 10)

In [26]:
x = True
y = False

print(type(x))

<class 'bool'>

In [30]:

age = 50
if age >= 18:
    print("you are an adult.")
else:
    print("not an adult.")

you are an adult.

In [33]:
score = 95
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
print("your grade is ", grade)

your grade is  A

In [39]:
count= 5
while count <10:
    print("count is", count)
    count +=1

count is 5
count is 6
count is 7
count is 8
count is 9

In [42]:
i =1
n=10
while i <= n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [45]:
fruits = ["apple", "Banana", "mongo"]
for x in fruits:
    print(x)

apple
Banana
mongo

In [46]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [ ]:
import numpy
import pandas

In [ ]:
df = pd.read_csv(r'C:\Users\putta\OneDrive\Desktop\python basic\Product.csv')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()